* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
i {
  width: 24px;
}
a {
  padding: 2px 5px 2px 10px;
  text-decoration: none;
}
a:hover {
  background-color: blue !important;
}

.icons {
  width: 15%;
}