/*
All rights reserverd to Gilbert CAPUTO-CERNI.
This application is to use as that. Not modifications or partial code use are autorized.
If you want informations contact me at : manager-web@outlook.com

  Created on : 22 mars 2023, 09:28:46
  Author     : Gilbert CAPUTO-CERNI <manager-web@outlook.com>
*/

main {
  margin-top: 75px;
}

.msg {
  padding: 10px;
  border-radius: 5px;
}

.error {
  background-color: red;
  color: white;
  font-weight: bold;
}

.ok {
  background-color: green;
  color: white;
}

.reset {
  background: none;
  color: black;
}

.txt-center {
  text-align: center;
}

#timer {
  border: 2px double blue;
  padding: 15px 25px;
  font-size: 2em;
  font-weight: bold;
  border-radius: 25px;
  text-align: center;
  width: max-content;
}


/*** Table ***/
table tbody td, table thead th {
  padding: 5px 10px;
  border-bottom: 1px solid #888888;
}

.arrowDesc {
  width: 0;
  height: 0;
  float:right;
  margin: 10px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
}

.flecheAsc {
  width: 0;
  height: 0;
  float:right;
  margin: 10px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}

/* Classe optionnelle pour le style */
table {
  margin-top: 20px;
  table-layout: fixed;
  border-collapse: collapse;
}

.zebre tbody tr:nth-child(odd) {
  background-color: #CCCCCC;
  color :#333333;
}
.zebre tbody tr:nth-child(even) {
  background-color: #5d625c;
  color: #DDDDDD;
}
.zebre tbody tr:hover:nth-child(odd) {
  background-color: #999690;
  color:#ffffff;
}
.zebre tbody tr:hover:nth-child(even) {
  background-color: #999690;
  color:#ffffff;
}
.withOrder th {
  text-align:center;
  vertical-align: middle;
  background-color: #33ddff;
  color: #333333;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}

.withOrder th.selection {
  background-color:#1155ff;
  color:#fff;
}

.withOrder th.selection .arrowDesc {
  border-bottom-color: white;
}

.withOrder th.selection .flecheAsc {
  border-top-color: white;
}

.zebre tbody td:nth-child(3) {
  text-align:center;
}

.bg-blueDark {
  background-color: #1155ff;
}

blockquote::before {
  content: "\0022";
  font-size: 100px;
  position: absolute;
  top: 9px;
  left: 17px;

}
blockquote::before {

  content: "\0022";
  font-size: 100px;
  position: absolute;
  top: 9px;
  left: 17px;

}

blockquote {
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
  line-height: 30px;
  quotes: none;
}

blockquote::before {
  color: rgb(92, 204, 255);
  content: "\0022";
  font-size: 100px;
  position: absolute;
  top: 9px;
  left: 17px;
}