/*
All rights reserverd to Gilbert CAPUTO-CERNI.
This application is to use as that. Not modifications or partial code use are autorized.
If you want informations contact me at : manager-web@outlook.com

  Created on : 22 mars 2023, 09:28:46
  Author     : Gilbert CAPUTO-CERNI <manager-web@outlook.com>
*/

section {
  padding-left: 30px;
  margin-bottom: 50px;
}

h3 {
  margin-left: -30px;
}

.msg {
  padding: 10px;
}

.error {
  background-color: red;
  color: white;
}

.ok {
  background-color: green;
  color: white;
}

.reset {
  background: none;
  color: black;
}

.txt-center {
  text-align: center;
}

#timer {
  border: 2px double blue;
  padding: 15px 25px;
  font-size: 2em;
  font-weight: bold;
  border-radius: 25px;
  text-align: center;
  width: max-content;
}
